## Making a Web Scraper- Dynamic Discs Open

In [1]:
# import dependencies
import time
from selenium import webdriver
from datetime import datetime

## Opening the website

In [2]:
# path of the chromedriver
chrome_driver = webdriver.Chrome('/Users/bowbrannon3/Documents/Data_Science/chromedriver')

/var/folders/0y/p5wv0k811bxbr5bsf_fjdm3w0000gn/T/ipykernel_93472/158780501.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  chrome_driver = webdriver.Chrome('/Users/bowbrannon3/Documents/Data_Science/chromedriver')

In [3]:
# url of website to be scraped - event number for "Champions Cup"
url = "https://www.pdga.com/tour/event/55585"

# to open the url in browser
chrome_driver.get(url)

## Navigate to Event and collect round ratings for top 25 players

In [4]:
# navigate to scores table, and click 'show round ratings'
ratings = '/html/body/div[4]/section/div/div/div/div/div/div/div/div/div/div/div[11]/div/div[2]/details[1]/div[122]/a[1]'

# get that article
link = chrome_driver.find_element("xpath", ratings)
#click to open
link.click()

# read the text of article
print(link.text)

Hide round ratings

## Iterating through top 25

In [5]:
import numpy as np
# create arrays to store info for dataframes
places = np.arange(1,26)
names = []
rd1_ratings = []
rd2_ratings = []
rd3_ratings = []
rd4_ratings = []
payouts = []

In [6]:
# get info from top 25 players and add to arrays
place = 1
for x in range (1,26):
    #print(f'Place {place}:') 
    #place +=1
    name_path = f'/html/body/div[4]/section/div/div/div/div/div/div/div/div/div/div/div[11]/div/div[2]/details[1]/div[123]/table[2]/tbody/tr[{x}]/td[3]/a'
    title = chrome_driver.find_element('xpath',name_path)
    #add to names array
    names.append(title.text)
    
    # iterating through round ratings- 
    for y in range(8,15,2):
        rd_path = f'/html/body/div[4]/section/div/div/div/div/div/div/div/div/div/div/div[11]/div/div[2]/details[1]/div[123]/table[2]/tbody/tr[{x}]/td[{y}]'
        score = chrome_driver.find_element('xpath', rd_path).text
        
        if (y/2-3==1):
            rd1_ratings.append(score)
        elif (y/2-3==2):
            rd2_ratings.append(score)
        elif (y/2-3==3):
            rd3_ratings.append(score)
        else:
            rd4_ratings.append(score)
        
        print(f'{x} Scores:')
        print(score)
    pay_path = f'/html/body/div[4]/section/div/div/div/div/div/div/div/div/div/div/div[11]/div/div[2]/details[1]/div[123]/table[2]/tbody/tr[{x}]/td[16]'
    cash = chrome_driver.find_element('xpath',pay_path).text
    payouts.append(cash)

1 Scores:
1043
1 Scores:
1060
1 Scores:
1033
1 Scores:
1044
2 Scores:
1049
2 Scores:
1022
2 Scores:
1028
2 Scores:
1050
3 Scores:
1020
3 Scores:
1044
3 Scores:
1042
3 Scores:
1025
4 Scores:
1032
4 Scores:
1038
4 Scores:
1024
4 Scores:
1044
5 Scores:
1055
5 Scores:
1038
5 Scores:
1024
5 Scores:
1018
6 Scores:
1032
6 Scores:
1033
6 Scores:
1028
6 Scores:
1044
7 Scores:
1026
7 Scores:
1044
7 Scores:
1042
7 Scores:
1018
8 Scores:
1032
8 Scores:
1028
8 Scores:
1042
8 Scores:
1025
9 Scores:
1009
9 Scores:
1028
9 Scores:
1046
9 Scores:
1044
10 Scores:
1014
10 Scores:
1044
10 Scores:
1028
10 Scores:
1037
11 Scores:
1049
11 Scores:
1028
11 Scores:
1024
11 Scores:
1025
12 Scores:
1055
12 Scores:
1028
12 Scores:
1011
12 Scores:
1037
13 Scores:
1009
13 Scores:
1054
13 Scores:
1015
13 Scores:
1044
14 Scores:
980
14 Scores:
1044
14 Scores:
1059
14 Scores:
1025
15 Scores:
1003
15 Scores:
1022
15 Scores:
1042
15 Scores:
1050
16 Scores:
1026
16 Scores:
1017
16 Scores:
1037
16 Scores:
1037
17 Scores:
1037
17 Scores:
1028
17 Scores:
1024
17 Scores:
1012
18 Scores:
1009
18 Scores:
1049
18 Scores:
1019
18 Scores:
1025
19 Scores:
1043
19 Scores:
1033
19 Scores:
1006
19 Scores:
1025
20 Scores:
1060
20 Scores:
1028
20 Scores:
993
20 Scores:
1031
21 Scores:
1032
21 Scores:
1022
21 Scores:
1019
21 Scores:
1018
22 Scores:
1037
22 Scores:
1022
22 Scores:
1011
22 Scores:
1025
23 Scores:
1032
23 Scores:
1022
23 Scores:
1019
23 Scores:
1018
24 Scores:
1055
24 Scores:
1017
24 Scores:
1019
24 Scores:
993
25 Scores:
1014
25 Scores:
1006
25 Scores:
1019
25 Scores:
1050

In [7]:
#testing 
for payout in payouts:
    print(payout)

$8,600
$5,100
$2,265
$2,265
$2,265
$2,265
$2,265
$1,375
$1,375
$1,117
$1,117
$1,117
$925
$925
$925
$925
$755
$755
$755
$755
$680
$680
$680
$643
$643

In [10]:
## Create Dataframe from arrays
import pandas as pd

DDO_22 = pd.DataFrame({"Place":places, "Name": names, "Round_1":rd1_ratings, "Round_2": rd2_ratings, "Round_3": rd3_ratings, "Round_4":rd4_ratings,"Payout": payouts})
DDO_22.set_index('Place', inplace = True)
DDO_22.head(20)

                     Name Round_1 Round_2 Round_3 Round_4  Payout
Place
1         Richard Wysocki    1043    1060    1033    1044  $8,600
2           Simon Lizotte    1049    1022    1028    1050  $5,100
3           Logan Harpool    1020    1044    1042    1025  $2,265
4           Aaron Gossage    1032    1038    1024    1044  $2,265
5            Brodie Smith    1055    1038    1024    1018  $2,265
6            Väinö Mäkelä    1032    1033    1028    1044  $2,265
7       Jason Hebenheimer    1026    1044    1042    1018  $2,265
8            G.T. Hancock    1032    1028    1042    1025  $1,375
9         Chris Dickerson    1009    1028    1046    1044  $1,375
10        Calvin Heimburg    1014    1044    1028    1037  $1,117
11            Gannon Buhr    1049    1028    1024    1025  $1,117
12           James Conrad    1055    1028    1011    1037  $1,117
13     Bartosz Kowalewski    1009    1054    1015    1044    $925
14          Jeremy Koling     980    1044    1059    1025    $925
15             Kyle Klein    1003    1022    1042    1050    $925
16           Nathan Queen    1026    1017    1037    1037    $925
17       Bradley Williams    1037    1028    1024    1012    $755
18          Chris Clemons    1009    1049    1019    1025    $755
19            Kevin Jones    1043    1033    1006    1025    $755
20         Thomas Gilbert    1060    1028     993    1031    $755

In [12]:
DDO_22.to_csv("../Tournament_CSVs/DDO_final.csv")