## Making a Web Scraper- Mid America Open

In [1]:
# import dependencies
import time
from selenium import webdriver
from datetime import datetime

## Opening the website

In [2]:
# path of the chromedriver
chrome_driver = webdriver.Chrome('/Users/bowbrannon3/Documents/Data_Science/chromedriver')

/var/folders/0y/p5wv0k811bxbr5bsf_fjdm3w0000gn/T/ipykernel_94357/158780501.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  chrome_driver = webdriver.Chrome('/Users/bowbrannon3/Documents/Data_Science/chromedriver')

In [3]:
# url of website to be scraped - event number for "Champions Cup"
url = "https://www.pdga.com/tour/event/55588"

# to open the url in browser
chrome_driver.get(url)

## Navigate to Event and collect round ratings for top 25 players

In [4]:
# navigate to scores table, and click 'show round ratings'
ratings = '/html/body/div[4]/section/div/div/div/div/div/div/div/div/div/div/div[11]/div/div[2]/details[1]/div[122]/a[1]'

# get that article
link = chrome_driver.find_element("xpath", ratings)
#click to open
link.click()

# read the text of article
print(link.text)

Hide round ratings

## Iterating through top 25

In [5]:
import numpy as np
# create arrays to store info for dataframes
places = np.arange(1,26)
names = []
rd1_ratings = []
rd2_ratings = []
rd3_ratings = []
rd4_ratings = []
payouts = []

In [6]:
# get info from top 25 players and add to arrays
place = 1
for x in range (1,26):
    #print(f'Place {place}:') 
    #place +=1
    name_path = f'/html/body/div[4]/section/div/div/div/div/div/div/div/div/div/div/div[11]/div/div[2]/details[1]/div[123]/table[2]/tbody/tr[{x}]/td[3]/a'
    title = chrome_driver.find_element('xpath',name_path)
    #add to names array
    names.append(title.text)
    
    # iterating through round ratings- only 3 rounds this tournament
    for y in range(8,13,2):
        rd_path = f'/html/body/div[4]/section/div/div/div/div/div/div/div/div/div/div/div[11]/div/div[2]/details[1]/div[123]/table[2]/tbody/tr[{x}]/td[{y}]'
        score = chrome_driver.find_element('xpath', rd_path).text
        
        if (y/2-3==1):
            rd1_ratings.append(score)
        elif (y/2-3==2):
            rd2_ratings.append(score)
        elif (y/2-3==3):
            rd3_ratings.append(score)
        else:
            rd4_ratings.append(score)
        
        print(f'{x} Scores:')
        print(score)
    pay_path = f'/html/body/div[4]/section/div/div/div/div/div/div/div/div/div/div/div[11]/div/div[2]/details[1]/div[123]/table[2]/tbody/tr[{x}]/td[14]'
    cash = chrome_driver.find_element('xpath',pay_path).text
    payouts.append(cash)

1 Scores:
1066
1 Scores:
1066
1 Scores:
1048
2 Scores:
1045
2 Scores:
1052
2 Scores:
1068
3 Scores:
1073
3 Scores:
1030
3 Scores:
1055
4 Scores:
1045
4 Scores:
1066
4 Scores:
1048
5 Scores:
1052
5 Scores:
1052
5 Scores:
1034
6 Scores:
1016
6 Scores:
1030
6 Scores:
1081
7 Scores:
1023
7 Scores:
1059
7 Scores:
1048
8 Scores:
1030
8 Scores:
1023
8 Scores:
1075
9 Scores:
1059
9 Scores:
1016
9 Scores:
1041
10 Scores:
1038
10 Scores:
1030
10 Scores:
1048
11 Scores:
1045
11 Scores:
1016
11 Scores:
1048
12 Scores:
1016
12 Scores:
1030
12 Scores:
1061
13 Scores:
1045
13 Scores:
1016
13 Scores:
1041
14 Scores:
1045
14 Scores:
1038
14 Scores:
1021
15 Scores:
1073
15 Scores:
1023
15 Scores:
1001
16 Scores:
1038
16 Scores:
1016
16 Scores:
1034
17 Scores:
995
17 Scores:
1045
17 Scores:
1048
18 Scores:
1066
18 Scores:
1016
18 Scores:
1008
19 Scores:
1009
19 Scores:
1023
19 Scores:
1055
20 Scores:
1045
20 Scores:
1009
20 Scores:
1034
21 Scores:
1059
21 Scores:
1016
21 Scores:
1014
22 Scores:
1052
22 Scores:
1030
22 Scores:
1001
23 Scores:
1030
23 Scores:
1023
23 Scores:
1028
24 Scores:
1030
24 Scores:
1038
24 Scores:
1014
25 Scores:
1023
25 Scores:
1030
25 Scores:
1028

In [7]:
#testing 
for payout in payouts:
    print(payout)

$8,000
$5,000
$3,000
$3,000
$2,000
$1,700
$1,700
$1,700
$1,450
$1,450
$1,275
$1,275
$1,175
$1,175
$1,100
$942
$942
$942
$942
$942
$942
$710
$710
$710
$710

In [7]:
## Create Dataframe from arrays
import pandas as pd

Preserve_22 = pd.DataFrame({"Place":places, "Name": names, "Round_1":rd1_ratings, "Round_2": rd2_ratings, "Round_3": rd3_ratings, "Payout": payouts})
Preserve_22.head(20)

    Place              Name Round_1 Round_2 Round_3  Payout
0       1  Bradley Williams    1066    1066    1048  $8,000
1       2   Richard Wysocki    1045    1052    1068  $5,000
2       3        Kyle Klein    1073    1030    1055  $3,000
3       4     Simon Lizotte    1045    1066    1048  $3,000
4       5      James Conrad    1052    1052    1034  $2,000
5       6       Adam Hammes    1016    1030    1081  $1,700
6       7       Albert Tamm    1023    1059    1048  $1,700
7       8       Gannon Buhr    1030    1023    1075  $1,700
8       9     Ezra Aderhold    1059    1016    1041  $1,450
9      10       Paul McBeth    1038    1030    1048  $1,450
10     11   Calvin Heimburg    1045    1016    1048  $1,275
11     12       Luke Taylor    1016    1030    1061  $1,275
12     13    Garett Everson    1045    1016    1041  $1,175
13     14      Noah Fiveash    1045    1038    1021  $1,175
14     15   Garrett Gurthie    1073    1023    1001  $1,100
15     16     Aaron Gossage    1038    1016    1034    $942
16     17     Gavin Rathbun     995    1045    1048    $942
17     18    Isaac Robinson    1066    1016    1008    $942
18     19       Kevin Jones    1009    1023    1055    $942
19     20   Connor O'Reilly    1045    1009    1034    $942

In [8]:
#setting index to place
Preserve_22.set_index('Place', inplace = True)
#Adding tournament column
Preserve_22['Tournament'] = 'Preserve'
Preserve_22 = Preserve_22[['Tournament', 'Name', 'Round_1', 'Round_2','Round_3', 'Payout']]
Preserve_22.head()

      Tournament              Name Round_1 Round_2 Round_3  Payout
Place
1       Preserve  Bradley Williams    1066    1066    1048  $8,000
2       Preserve   Richard Wysocki    1045    1052    1068  $5,000
3       Preserve        Kyle Klein    1073    1030    1055  $3,000
4       Preserve     Simon Lizotte    1045    1066    1048  $3,000
5       Preserve      James Conrad    1052    1052    1034  $2,000

In [9]:
Preserve_22.to_csv("../Tournament_CSVs/Preserve_22.csv")