## Making a Web Scraper- Portland

In [4]:
# import dependencies
import time
from selenium import webdriver
from datetime import datetime

## Opening the website

In [5]:
# path of the chromedriver
chrome_driver = webdriver.Chrome('/Users/bowbrannon3/Documents/Data_Science/chromedriver')

/var/folders/0y/p5wv0k811bxbr5bsf_fjdm3w0000gn/T/ipykernel_80312/158780501.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  chrome_driver = webdriver.Chrome('/Users/bowbrannon3/Documents/Data_Science/chromedriver')

In [6]:
# url of website to be scraped - event number for "Champions Cup"
url = "https://www.pdga.com/tour/event/55587"

# to open the url in browser
chrome_driver.get(url)

## Navigate to Event and collect round ratings for top 25 players

In [7]:
# navigate to scores table, and click 'show round ratings'
ratings = '/html/body/div[4]/section/div/div/div/div/div/div/div/div/div/div/div[11]/div/div[2]/details[1]/div[119]/a[1]'
# get that article
link = chrome_driver.find_element("xpath", ratings)
#click to open
link.click()

# read the text of article
print(link.text)

Hide round ratings

## Iterating through top 25

In [8]:
import numpy as np
# create arrays to store info for dataframes
places = np.arange(1,26)
names = []
rd1_ratings = []
rd2_ratings = []
rd3_ratings = []
rd4_ratings = []
payouts = []

In [9]:
# get info from top 25 players and add to arrays
place = 1
for x in range (1,26):
    #print(f'Place {place}:') 
    #place +=1
    name_path = f'/html/body/div[4]/section/div/div/div/div/div/div/div/div/div/div/div[11]/div/div[2]/details[1]/div[120]/table[2]/tbody/tr[{x}]/td[3]/a'
    title = chrome_driver.find_element('xpath',name_path)
    #add to names array
    names.append(title.text)
    
    # iterating through round ratings
    for y in range(8,15,2):
        rd_path = f'/html/body/div[4]/section/div/div/div/div/div/div/div/div/div/div/div[11]/div/div[2]/details[1]/div[120]/table[2]/tbody/tr[{x}]/td[{y}]'
        score = chrome_driver.find_element('xpath', rd_path).text
        
        if (y/2-3==1):
            rd1_ratings.append(score)
        elif (y/2-3==2):
            rd2_ratings.append(score)
        elif (y/2-3==3):
            rd3_ratings.append(score)
        else:
            rd4_ratings.append(score)
        
        print(f'{x} Scores:')
        print(score)
    pay_path = f'/html/body/div[4]/section/div/div/div/div/div/div/div/div/div/div/div[11]/div/div[2]/details[1]/div[120]/table[2]/tbody/tr[{x}]/td[16]'
    cash = chrome_driver.find_element('xpath',pay_path).text
    payouts.append(cash)

1 Scores:
1071
1 Scores:
1052
1 Scores:
1051
1 Scores:
1045
2 Scores:
1065
2 Scores:
1052
2 Scores:
1045
2 Scores:
1051
3 Scores:
1078
3 Scores:
1026
3 Scores:
1038
3 Scores:
1038
4 Scores:
1045
4 Scores:
1006
4 Scores:
1058
4 Scores:
1058
5 Scores:
1032
5 Scores:
1039
5 Scores:
1045
5 Scores:
1045
6 Scores:
1052
6 Scores:
1013
6 Scores:
1045
6 Scores:
1051
7 Scores:
1052
7 Scores:
1032
7 Scores:
1058
7 Scores:
1018
8 Scores:
1026
8 Scores:
1052
8 Scores:
1051
8 Scores:
1025
9 Scores:
1058
9 Scores:
1058
9 Scores:
1018
9 Scores:
1012
10 Scores:
1013
10 Scores:
1026
10 Scores:
1038
10 Scores:
1058
11 Scores:
1045
11 Scores:
986
11 Scores:
1045
11 Scores:
1051
12 Scores:
1026
12 Scores:
1026
12 Scores:
1051
12 Scores:
1018
13 Scores:
1026
13 Scores:
1013
13 Scores:
1058
13 Scores:
1025
14 Scores:
1013
14 Scores:
1032
14 Scores:
1032
14 Scores:
1045
15 Scores:
1026
15 Scores:
1026
15 Scores:
1025
15 Scores:
1032
16 Scores:
1039
16 Scores:
999
16 Scores:
1038
16 Scores:
1032
17 Scores:
1039
17 Scores:
1019
17 Scores:
1018
17 Scores:
1025
18 Scores:
999
18 Scores:
1032
18 Scores:
1038
18 Scores:
1032
19 Scores:
1045
19 Scores:
993
19 Scores:
1045
19 Scores:
1018
20 Scores:
1013
20 Scores:
1058
20 Scores:
1018
20 Scores:
1012
21 Scores:
1045
21 Scores:
1052
21 Scores:
999
21 Scores:
999
22 Scores:
999
22 Scores:
1026
22 Scores:
1045
22 Scores:
1025
23 Scores:
1006
23 Scores:
1032
23 Scores:
1018
23 Scores:
1038
24 Scores:
1039
24 Scores:
1026
24 Scores:
1038
24 Scores:
992
25 Scores:
1032
25 Scores:
1013
25 Scores:
1032
25 Scores:
1018

In [10]:
#testing 
for payout in payouts:
    print(payout)

$10,000
$6,250
$4,150
$3,035
$2,035
$2,035
$2,035
$1,500
$1,400
$1,300
$1,250
$1,150
$1,150
$1,150
$1,025
$1,025
$880
$880
$880
$880
$725
$725
$725
$725
$725

In [12]:
## Create Dataframe from arrays
import pandas as pd

Portland_22 = pd.DataFrame({"Place":places, "Name": names, "Round_1":rd1_ratings, "Round_2": rd2_ratings, "Round_3": rd3_ratings, "Round_4": rd4_ratings, "Payout": payouts})
Portland_22.head(20)

    Place             Name Round_1 Round_2 Round_3 Round_4   Payout
0       1    Simon Lizotte    1071    1052    1051    1045  $10,000
1       2  Garrett Gurthie    1065    1052    1045    1051   $6,250
2       3   Isaac Robinson    1078    1026    1038    1038   $4,150
3       4      Gannon Buhr    1045    1006    1058    1058   $3,035
4       5      Adam Hammes    1032    1039    1045    1045   $2,035
5       6      Albert Tamm    1052    1013    1045    1051   $2,035
6       7      Paul McBeth    1052    1032    1058    1018   $2,035
7       8     Cole Redalen    1026    1052    1051    1025   $1,500
8       9     Joel Freeman    1058    1058    1018    1012   $1,400
9      10    Nathan Sexton    1013    1026    1038    1058   $1,300
10     11    Ezra Aderhold    1045     986    1045    1051   $1,250
11     12    Aaron Gossage    1026    1026    1051    1018   $1,150
12     13  Calvin Heimburg    1026    1013    1058    1025   $1,150
13     14    Chris Clemons    1013    1032    1032    1045   $1,150
14     15  Andrew Presnell    1026    1026    1025    1032   $1,025
15     16      Corey Ellis    1039     999    1038    1032   $1,025
16     17   Linus Carlsson    1039    1019    1018    1025     $880
17     18    Gavin Babcock     999    1032    1038    1032     $880
18     19       Kyle Klein    1045     993    1045    1018     $880
19     20     Max Regitnig    1013    1058    1018    1012     $880

In [13]:
#setting index to place
Portland_22.set_index('Place', inplace = True)
#Adding tournament column
Portland_22['Tournament'] = 'Portland'
Portland_22 = Portland_22[['Tournament', 'Name', 'Round_1', 'Round_2','Round_3', 'Payout']]
Portland_22.head()

      Tournament             Name Round_1 Round_2 Round_3   Payout
Place
1       Portland    Simon Lizotte    1071    1052    1051  $10,000
2       Portland  Garrett Gurthie    1065    1052    1045   $6,250
3       Portland   Isaac Robinson    1078    1026    1038   $4,150
4       Portland      Gannon Buhr    1045    1006    1058   $3,035
5       Portland      Adam Hammes    1032    1039    1045   $2,035

In [14]:
Portland_22.to_csv("Portland_22.csv")